nav ol li{
    display: inline;
    background-color: aqua;
    color: white;

}
nav {
    background-color: rgb(226, 226, 255);
    height: 80px;
    text-align: center;
}

.main .container .item{
    width: 200px;
    height: 200px;
    background-color: brown;
    margin: 20px;
}

.main .container {
    display: flex;
}

footer ul li{
    display: inline;
}

#shop{
    background-color: red;
    color: rgba(240, 248, 255, 0.758);
    height: 20px;
    width: 30px;
    margin-left: 300px;
}