/* 
this is a comment
*/

/* affects all the body tab*/
body{
    background-color:rgb(32, 0, 108);
}

/* everything in the div is applied the style*/
div{
    background-color: aqua;
    border-color: orange;
    border-width: 10px;
    border-style: dotted;
}

p{
    color: yellow;
}


span{
    background-color: red;
    color: black;
}